.fsBody {
  background-color: #e7f2f4;
  padding: 0;
}

.fsBody .fsForm {
  font-family: Rubik, sans-serif;
  background-color: #e7f2f4;
  color: black;
  padding: 0;
}

.fsRowBody {
  background-color: #e7f2f4;
}

.fsBody .fsSupporting {
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

.fsBody .fsLabel {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.fsForm input[type="file"]::-webkit-file-upload-button,
.fsForm .fsFileUploadButton {
  background-color: #54257f;
  margin-right: 0.5rem;
}

.fsSubmitButton {
  background-color: #54257f !important;
}

.fsRowBody input[type="text"].fsRequired,
.fsRowBody input[type="email"].fsRequired,
.fsRowBody input[type="number"].fsRequired,
.fsRowBody input[type="tel"].fsRequired,
.fsForm select.fsRequired,
.fsForm textarea.fsRequired,
.fsRowBody input[type="text"],
.fsRowBody input[type="email"],
.fsRowBody input[type="number"],
.fsRowBody input[type="tel"],
.fsForm select,
.fsForm textarea,
.fsSignature {
  border-radius: 2rem 2rem 2rem 0rem;
  border: 2px solid #54257f;
  box-sizing: border-box;
}
